databricks-sdk==0.55.0
databricks-ai-bridge==0.5.1
rdkit==2025.3.2
mols2grid==2.0.0
streamlit==1.45.1
distro
#pubchempy==1.0.4
pubchempy @ git+https://github.com/keceli/PubChemPy.git@main
pikachu-chem==1.1.1

